<div class="wrapper layout-<%= @layoutType %>">
  <div class="mobile-app__name-wrapper">
    <%= render 'shared/appname'%>
  </div>
  <div class="wrapper__video">
    <div class="player">
      <div class="player__content">
        <video class="video-js vjs-default-skin vjs-big-play-centered" controls autoplay preload="auto" data-setup="{}">
          <source src="<%= @opinion.video_hls_url %>" type="application/x-mpegURL">
        </video>
        <%= link_to "https://www.vialog.cc/", target: '_blank' do %>
          <%= image_tag('vialogo_watermark_shadow_2.svg', class: 'player__overlay-logo') %>
        <%end%>
        <input type="hidden" name="opinion_id" id="opinion_id" value="<%= @opinion.id %>">
        <input type="hidden" name="api_subdomain" id="api_subdomain" value="<%= ENV['API_SUBDOMAIN'] %>">
      </div>
    </div>
    <div class="mobile-discuss-wrapper">
      <button class="blue__button discuss">Discuss this on <b>vialog</b></button>
    </div>
    <div class="share">
      <div class="text-wrapper">Share it on </div>
      <%= link_to "#", target: '_blank' do %>
          <%= image_tag('fb.svg', class: 'fb share-logo') %>
      <%end%>
      <%= link_to "#", target: '_blank' do %>
          <%= image_tag('tw.svg', class: 'tw share-logo') %>
      <%end%>
      <%= link_to "#", target: '_blank' do %>
          <%= image_tag('tumblr.svg', class: 'tumblr share-logo') %>
      <%end%>
    </div>
    <div class="embed-wrapper">
      <button class="link-btn">copy video link</button>
      <button class="embed-btn">copy embed code</button>
    </div>
  </div>
  <div class="wrapper__signup">
    <%= render 'shared/app'%>
    <%= render 'shared/join', user_id: @opinion.user.id, opinion_id: @opinion.id, topic_id: @opinion.topic.id, layout_type: @layoutType %>
  </div>
</div>

<%= render 'shared/footer'%>
