<div id="error_404" class="wrapper">
  <%= link_to "https://vialog.cc" do %>
        <%= image_tag('metronome.gif', class: '') %>
        <h2>Time flies. This video was deleted.</h2>
  <%end%>
</div>

<%= render 'shared/footer'%>
