<div class="app__name">
  <%= link_to "https://www.vialog.cc/", target: '_blank' do %>
    <%= image_tag('vialogo_logo_black_2.svg', class: 'vialog-logo') %>
  <%end%>
  <% if @layoutType == 'ask' %>
  <h2 class="page-title"><%= @opinion.user.name %> asks you about<br/> <%= @opinion.topic.title %></h2>
  <% else %>
  <h2 class="page-title"><%= @opinion.user.name %> about<br/> <%= @opinion.topic.title %></h2>
  <% end %>
</div>