<div class="app" data-app-id="<%= ENV['APP_ID']%>" data-app-name="<%= ENV['APP_NAME']%>" >
  <%= render 'shared/appname'%>
  <div class="normal-discuss-wrapper">
    <button class="blue__button discuss">Discuss this on <b>vialog</b></button>
  </div>
  <div class="app__download">
    <div class="text-wrapper">Get the iOS app</div>
    <%= link_to "https://itunes.apple.com/app/#{ENV['APP_NAME'].downcase}/id#{ENV['APP_ID']}?mt=8", target: '_blank', class: 'footer__link store-link' do %>
      <%= image_tag('Download_on_the_App_Store_Badge_US-UK_135x40.svg', class: 'get-app-logo') %>
    <%end%>
  </div>
</div>
