<div class="footer">
  <div class="footer__support">
    <%= link_to 'contact', 'mailto:hello@vialog.cc', class: 'footer__link' %>
  </div>
  <div class="footer__support">
    <%= link_to 'community support', 'https://vialog.zendesk.com', target: '_blank', class: 'footer__link' %>
  </div>
  <div class="footer__support">
    <%= link_to 'instagram', 'https://www.instagram.com/vialog', target: '_blank', class: 'footer__link' %>
  </div>
</div>
