<div class="join">
  <div class="join__title">Looking for the Android app?</div>
  <form class="join__form" action="<%= ENV['MAILCHIMP_SUBSCRIBE_URL'] %>" method="post" novalidate target="_blank">
    <div class="join__row">
      <input class="join__email" type="email" placeholder="me@email.com" name="EMAIL">
    </div>
    <div class="join__row">
      <button class="blue__button">notify me</button>
    </div>
    <div class="join__captcha" aria-hidden="true">
      <input type="text" name="<%= ENV['MAILCHIMP_CAPTCHA_HASH'] %>" tabindex="-1" value="">
      <% if layout_type == 'ask' %>
          <input type="text" name="SIGNUPL" tabindex="-1" value="sharedAskPage">
          <input type="text" name="USERIDA" tabindex="-1" value="<%= user_id %>">
      <% else %>
          <input type="text" name="SIGNUPL" tabindex="-1" value="sharedVideoPage">
          <input type="text" name="USERIDS" tabindex="-1" value="<%= user_id %>">
      <% end %>
      <input type="text" name="VIDEOID" tabindex="-1" value="<%= opinion_id %>">
      <input type="text" name="TOPICID" tabindex="-1" value="<%= topic_id %>">
      <input type="text" name="SIGNUPFD" id="signupfd" tabindex="-1" value="">
    </div>
  </form>
</div>
