@import "video-js-5.11.7/video-js";

$page-bg: rgb(250, 250, 250);

/**
 * Mixins
 */

@mixin ratio($width, $height) {
  padding-top: $height / ($width / 100%);
}

@mixin --rounded {
  border-radius: 4px;
}

/**
 * Fonts
 */

@font-face {
  font-family: SFUIText;
  src: asset-url('SF-UI-Text-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: SFUIText;
  src: asset-url('SF-UI-Text-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: SFUIText;
  src: asset-url('SF-UI-Text-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: SFUIText;
  src: asset-url('SF-UI-Text-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: SFUIText;
  src: asset-url('SF-UI-Text-Heavy.otf') format('opentype');
  font-weight: 900;
}

/**
 * Overrides
 */

body, html {
  margin: 0;
  background: $page-bg;
  -webkit-font-smoothing: antialiased;
}

html.error_404_page, body.error_404_page {
  background: #FCFEFC;
}

.fixed {
  position: fixed;
}

.vjs-captions-button {
  display: none;
}

#error_404 {
  a {
    width: 100%;
    text-decoration: none;
  }
  text-align: center;
  font-family: SFUIText;
  font-weight: 900;
  letter-spacing: -1px;
  h2 {
    margin-top: 35px;
    margin-bottom: 33px;
    font-size: 24px;
    color: rgb(37, 37, 37);
  }
  img {
    width: 100%;
  }
}

.error_404_page {
  .footer {
    background: #FCFEFC;
  }
}

.video-js {
  @include --rounded;
  width: 100%;
  height: 100%;
}

.vjs-tech {
  @include --rounded;
}

/**
 * Business
 */

.player {
  @include --rounded;
  position: relative;
  margin: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);

  &:after {
    @include ratio(360, 640);
    display: block;
    content: '';
  }

  &__content {
    @include --rounded;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
  }
  &__overlay-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
  }
}

.message{
  margin-top: 30px;
  text-align: left;
  font-family: SFUIText;
  font-size: 18px;
  font-weight: bold;
}

.app {
  margin: 30px 10px 46px 10px;
  text-align: left;

  &__name {
    display: none;
    font-family: SFUIText;
    font-weight: 900;
    color: rgb(37, 37, 37);
    letter-spacing: -1px;
    margin: 0 0 20px 0;
    h2 {
      margin-top: 35px;
      margin-bottom: 33px;
      font-size: 24px;
    }
    .vialog-logo {
      width: 132px;
    }
  }

  &__download {
    font-family: SFUIText;
    font-size: 17px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    line-height: 22px;
    letter-spacing: -0.4px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    margin: 50px 0 20px 0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    .text-wrapper {
      -webkit-flex: 1 0 0;
      flex: 1 0 0;
    }
  }
}

.join {
  margin: 0 10px 40px 10px;
  text-align: left;

  &__title {
    font-family: SFUIText;
    font-size: 17px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    line-height: 18px;
    letter-spacing: -0.4px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    margin: 0px 0px 16px 0;
  }

  &__row {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }

  &__email {
    flex: auto;
  }

  .blue__button {
    flex: auto;
  }

  &__email {
    background: white;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 5px;
    font-family: SFUIText;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: -0.4px;
    color: rgb(200, 199, 204);
    padding: 10px;
    text-align: center;
  }

  &__form {
    margin: 0px 0px 30px 0px;
  }

  &__captcha {
    position: absolute;
    left: -50000px;
  }
}

.blue__button {
  cursor: pointer;
  width: 100%;
  font-family: SFUIText;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.4px;
  color: rgb(255, 255, 255);
  background: rgb(56, 151, 241);
  border: none;
  padding: 10px;
  border-radius: 5px;
  &:hover {
    background: darken(rgb(56, 151, 241), 20);
  }
}

.share {
    font-family: SFUIText;
    font-size: 17px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    line-height: 22px;
    letter-spacing: -0.4px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    margin: 0 10px 10px 10px;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    .text-wrapper {
      -webkit-flex: 1 0 0;
      flex: 1 0 0;
    }
    a {
      margin-left: 10px;
    }
    img {
      width: 40px;
    }
  }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 0px 35px 10px 35px;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
  bottom: 0;

  &__support, &__terms {
    font-family: SFUIText;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.9px;
    color: rgb(37, 37, 37);

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__copyright {
    font-family: SFUIText;
    font-weight: 500;
    font-size: 8px;
    letter-spacing: 0.9px;
    color: rgb(37, 37, 37);
    text-transform: uppercase;
  }
}

.embed-wrapper {
  margin: 0 10px;
  display: flex;
}
.embed-btn, .link-btn {
  width: 100%;
  display: block;
  padding: 10px;
  font-family: SFUIText;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.4px;
  color: rgb(37, 37, 37);
  border: 1px solid rgb(38, 38, 38);
  background: $page-bg;
  border-radius: 5px;
  text-transform: lowercase;
  cursor: pointer;
  &:hover {
    background: rgb(229, 229, 230);
  }
}
.link-btn {
  margin-right: 10px;
}

.mobile-app__name-wrapper {
  margin: 0 10px;
  .app__name {
    display: block;
    a {
      margin: 30px 0;
      display: block;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

.normal-discuss-wrapper {
    display: none;
  }
.mobile-discuss-wrapper {
  display: block;
  margin: 0 10px 10px 10px;
}

.embed_page {
  .mobile-app__name-wrapper,
  .mobile-discuss-wrapper,
  .share,
  .embed-wrapper,
  .wrapper__signup,
  .footer {
    display: none;
  }
}
html.embed_page, body.embed_page {
  width: 100%;
  height: 100%;
}
.wrapper.layout-embed {
  width: 100%;
  height: 100%;
  .wrapper__video {
    width: 100%;
    height: 100%;
    .player {
      width: 100%;
      height: 100%;
      margin: 0;
      &:after {
        padding-top: 0;
      }
    }
  }
}

@media (min-width: 480px) {
  .footer {
    flex-direction: row;
    &__support:first-of-type {
      margin-left: 35px;
    }
    &__support:last-of-type {
      margin-right: 35px;
    }
  }
}

@media (min-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    max-width: 680px;
    margin: 45px auto 40px auto;

    &__video, &__signup {
      flex: 1;
    }

    &__video {
      display: flex;
      flex-direction: column;
    }

    &.layout-share {
      .wrapper__video {
        order: 1;
        margin-right: 80px;
      }
      .wrapper__signup {
        order: 2;
      }
    }
    &.layout-ask {
      .wrapper__video {
        order: 2;
        margin-left: 80px;
      }
      .wrapper__signup {
        order: 1;
      }
    }
  }

  .player {
    margin: 0px 0px 20px 0px;
  }

  .share {
    margin: 0 0 20px 0;
  }

  .app {
    margin: 23px 0px 20px 0px;
  }

  .app__name {
    display: block;
  }

  .app__download {
    margin: 80px 0 20px 0;
  }

  .join {
    margin: 0;
  }

  .footer {
    margin: 0px 0px 10px 0px;
    justify-content: center;

    &__support, &__terms {
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .embed-wrapper {
    margin: 0;
  }

  .mobile-app__name-wrapper {
    display: none;
  }

  .normal-discuss-wrapper {
    display: block;
  }
  .mobile-discuss-wrapper {
    display: none;
  }
}
