<!DOCTYPE html>
<html class="<%= @layoutType %>_page">
  <head>
    <title>Vialog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'safari-pinned-tab.svg', rel: 'mask-icon', type: 'image/png', color: '#5bbad5' %>

  </head>

  <body class="<%= @layoutType %>_page">
    <%= yield %>
  </body>
</html>
