<!DOCTYPE html>
<html class="<%= @layoutType %>_page">
  <head>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content=<%=ENV['FACEBOOK_APP_ID2']%> />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'safari-pinned-tab.svg', rel: 'mask-icon', type: 'image/png', color: '#5bbad5' %>
    <meta name="theme-color" content="#ffffff">

    <%= display_meta_tags %>
    <%= stylesheet_link_tag    'video_player', media: 'all' %>
    <%= javascript_include_tag 'video_player' %>
    <%= javascript_include_tag 'deeplink_redirect' %>

    <%= render 'shared/analytics'%>
  </head>
  <body class="<%= @layoutType %>_page">
    <%= yield %>
  </body>
</html>
